/* src/components/Header.css */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Change to desired color */
  color: white; /* Change text color if needed */
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px; /* Adjust as needed */
}

.icon {
  width: 30px; /* Adjust the size as needed */
  height: 30px;
  vertical-align: middle; /* Align the icon with the text */
}


.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

.menu-icon {
  display: none; /* Initially hidden, show this in mobile view */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: currentColor;
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links in mobile view */
  }

  .menu-icon {
    display: flex;
  }
}
